<div class="product-container">
  <div class="row custom-border">
    <!-- Détails de l'article -->
    <div class="col details-section">
      <div class="detail-row">
        <h5>15/08/2023</h5>
      </div>
    </div>

    <!-- Détails du stock -->
    <div class="col details-section">
      <div class="row">
        <div class="col-md-12 text-center">
          <h5>139</h5>
        </div>
      </div>
    </div>

    <div class="col details-section">
      <div class="row">
        <div class="col-md-12 text-center">
          <h5>Sortie</h5>
        </div>
      </div>
    </div>

  </div>
</div>
