<div class="col mb-3">
  <div class="col-md-12 mb-3">
    <img src="assets/images/user/avatar-2.jpg" class="rounded-circle" width="200px" height="200px">
  </div>
  <hr>
  <div class="col-md-12">
    <div class="col-md-12 mb-3" style="margin: 10px">
      <h2><i class="fa-solid fa-circle-info blue-color"></i>&nbsp;Information de l'utilisateur</h2>
    </div>
    <div class="col-md-12" style="margin: 1px">
      <div class="row mb-3">
        <div class="col">
          <input type="text" class="form-control" placeholder="Nom" aria-label="Nom">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Adresse" aria-label="Adresse">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input type="text" class="form-control" placeholder="Prénom" aria-label="Prénom">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Ville" aria-label="Ville">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input type="text" class="form-control" placeholder="Email" aria-label="Email">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Code postal" aria-label="Code postal">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input type="text" class="form-control" placeholder="Telephone" aria-label="Telephone">
        </div>
        <div class="col">

        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12" style="text-align: right">
    <button class="btn btn-danger m-lg-3" (click)="cancel()">
      <i class="fas fa-ban">&nbsp;</i> Annuler
    </button>
    <button class="btn btn-primary">
      <i class="fas fa-save ">&nbsp;</i>Enregistrer
    </button>
  </div>
</div>
